{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Socinsta instagram hesaplarında organik bir şekilde büyüme isteyen kişilere bu işlevi belirli bir düzen içinde yapabilmelerini sağlayan bir yazılım sistemidir.">
<meta name="keywords" content="Organik takipçi , hızlı büyüme , yapay zeka , instagram , işletme">
<meta name="author" content="Socinsta">
<link rel="icon" href="{% static 'app-assets/images/logo/materialize-logo-color.png' %}">


<title>Socinsta - İnstagram Hesabınızı Organik Büyütün! </title>