{% load static %}
<div class="brand-sidebar">
        <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="/landing" style="padding:22px 20px">
          <img src="{% static 'app-assets/images/logo/materialize-logo-color.png' %}" alt="materialize logo">
          <span class="logo-text" style="padding-left: 30px;font-family: 'Pacifico', cursive;font-size: 30px;padding-top: 10px;"><em>Socinsta</em></span></a><a class="navbar-toggler" href="#">
            <i class="material-icons">radio_button_unchecked</i></a></h1>
</div>