
<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed"> 
      <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-purple-deep-orange no-shadow">
        <div class="nav-wrapper">
          
          <ul class="navbar-list right">
            <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
          </ul>
          <!-- translation-button-->
          
          <!-- notifications-dropdown-->
          
          <!-- profile-dropdown-->
          
        </div>
     
      </nav>
    </div>
  </header>