<ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
    <div class="collapsible-body" style="display: block;">
      <ul class="collapsible collapsible-sub" data-collapsible="accordion">
        <li><a class="collapsible-body" href="/landing" data-i18n=""><i class="material-icons" style="font-size: 25px">help_outline</i><span>Socinsta Nedir?</span></a>
        </li>
        <li class="active"><a class="collapsible-body active" data-i18n="" href="/pricing"><i class="material-icons" style="font-size: 25px">style</i><span>Paketler</span></a>
        </li>
        <li><a class="collapsible-body" href="/dashboard" data-i18n="" style="display: block;"><i class="material-icons" style="font-size: 25px">trending_up</i><span>Dashboard</span></a>
        </li>
        <li><a class="collapsible-body" href="/profile" data-i18n=""><i class="material-icons" style="font-size: 25px">account_box</i><span>Hesaplarım</span></a>
        </li>
        <li><a class="collapsible-body" href="/assistants_details" data-i18n=""><i class="material-icons" style="font-size: 25px">done_all</i><span>Yapılan işlemler</span></a>
        </li>
        <li><a class="collapsible-body" href="/select_assistant" data-i18n=""><i class="material-icons" style="font-size: 25px">group_work</i><span>Asistanlar</span></a>
        </li>
        <li><a class="collapsible-body" href="/contact" data-i18n=""><i class="material-icons" style="font-size: 25px">message</i><span>İletişim</span></a>
        </li>
        <li><a class="collapsible-body" href="/logout" data-i18n=""><i class="material-icons" style="font-size: 25px">power_settings_new</i><span>Çıkış Yap</span></a>
        </li>
      </ul>
    </div>
</ul>