{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  <head>
      {% include 'includes/google_analytics.html' %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'includes/meta_tags.html' %}
    <link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/vendors.min.css' %}">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/materialize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/vertical-modern-menu-template/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/pricing.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom/custom.css' %}">
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 2-columns  " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    {% include "includes/navbar_login.html" %}
    <!-- END: Header-->



    <!-- BEGIN: SideNav-->
    <aside class="sidenav-main nav-collapsible sidenav-light sidenav-active-rounded nav-collapsed">
            {% include 'includes/navbar_icon.html' %}
      {% include 'includes/pricing_navbar.html' %}
     {% include 'includes/navbar_menu.html' %}
    </aside>
    <!-- END: SideNav-->

    <!-- BEGIN: Page Main-->
    <div id="main" class="main-full">
         <div class="row">
           
           <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
             <!-- Search for small screen-->
            
           </div>


           <!--HAVALE-->

 
      <!--KUPON SON-->

           <!--ÖDEME YÖNTEMLERİ-->
           
           <div class="col s12" id="ödeme_sistemleri" style="display: block">
             <div class="container">
               <div class="section">
                     <div id="card-panel-type" class="section">
                      
                           <div class="row">
                                 <div class="col s12 m6 l4 card-width">
                                       <div class="card-panel border-radius-6 mt-10 card-animation-1 hoverable animate fadeLeft" >
                                             <img href="/method_transfer" class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{% static 'app-assets/images/cards/havale.jpg' %}" alt="">
                                             <div class="center-align">
                                                   <h4><a class="mt-5" href="/method_transfer" >HAVALE/EFT İLE ÖDE</a></h4>

                                             </div>
                                             
                                             
                                             <div class="row center-align">
                                                   <p>
                                                         <i class="material-icons" style="color:#008000">check</i> %10 İNDİRİM</p>

                                             </div>

                                             <div class="row center-align">
                                                   <a href="/method_transfer" class="btn waves-effect waves-light gradient-45deg-purple-deep-orange gradient-shadow">HEMEN ÖDE</a>
                                             </div>
                                       </div>
                                 </div>
                                 <div class="col s12 m6 l4 card-width">
                                       <div class="card-panel border-radius-6 mt-10 card-animation-1 hoverable animate fadeUp">
                                             <img class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{% static 'app-assets/images/cards/card.jpg' %}" alt="">
                                             <div class="center-align">
                                                   <h4><a href="#" class="mt-5">KREDİ KARTI İLE ÖDE</a></h4>

                                             </div>
                                             

                                             <div class="row center-align">
                                                   <p>
                                                         <i class="material-icons" style="color:#008000">check</i> HIZLI ONAY</p>

                                             </div>
                                             


                                             <div class="row center-align">
                                                   <a class="btn waves-effect waves-light gradient-45deg-purple-deep-orange gradient-shadow">HEMEN ÖDE</a>
                                             </div>
                                       </div>
                                 </div>
                                 <div class="col s12 m6 l4 card-width">
                                       <div class="card-panel border-radius-6 mt-10 card-animation-1 hoverable animate fadeRight">
                                             <img class="responsive-img border-radius-8 z-depth-4 image-n-margin" src="{% static 'app-assets/images/cards/kupon.gif' %}" alt="">
                                             <div class="center-align">
                                                   <h4><a href="/method_coupon" class="mt-5">KUPON TANIMLA</a></h4>

                                             </div>
                                             <div class="row center-align">
                                                   <p>
                                                         <i class="material-icons" style="color:#008000">check</i> İNDİRİM KAZAN</p>

                                             </div>
                                            
                                             <div class="row center-align">
                                                   <a href="/method_coupon" class="btn waves-effect waves-light gradient-45deg-purple-deep-orange gradient-shadow">HEMEN TANIMLA</a>
                                             </div>
                                       </div>
                                 </div>
                           </div>
                     </div>

               <!--ÖDEME YÖNTEMLERİ SON-->
   </div><!-- START RIGHT SIDEBAR NAV -->

         
<!-- START RIGHT SIDEBAR NAV -->




<!-- END RIGHT SIDEBAR NAV -->
          
          </div>
        </div>
      </div>
    </div>
    <!-- END: Page Main-->

    <!-- BEGIN: Footer-->

    

    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="{% static 'app-assets/js/vendors.min.js' %}" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="{% static 'app-assets/js/plugins.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/custom/custom-script.js' %}" type="text/javascript"></script>

    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
  </body>
</html>